@import "../../../ui/variables.scss";
@import "../../../ui/mixins.scss";

.single-day {
  border-bottom: 1px solid $color-cp-blue-light;
  margin-top: 25px;
  margin-bottom: 10px;

  &__header {
    font-size: 1.1em;
    animation: order-list-module-appear 1s forwards;
    &::before {
      @include bullet($color-cp-blue, 0.5em);
      content: "\A";
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__module {
    display: inline-flex;
    width: 100%;
    border: none;
    @include for-phone {
      font-size: 0.8em;
    }
    font-size: 0.9em;
    animation: order-list-module-appear 1s forwards;
    &::before {
      @include bullet($color-cp-yellow, 0.5em);
      content: "\A";
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__module-remove-button {
    align-self: center;
    margin-left: 5px;
    margin-right: 0;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
    & > .single-day__module-remove-icon {
      height: 1em;
      width: 1em;
      fill: red;
    }
  }
}

@keyframes order-list-module-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
