@import "../ui/variables.scss";
@import "../ui/mixins.scss";

.thematic-areas {
  padding: 30px 20px 30px 20px;

  &__single-area {
    &:not(:first-child) {
      @include for-phone {
        padding-top: 10px;
      }
      @include for-tablet-portrait-and-up {
        padding-top: 30px;
      }
      @include for-tablet-landscape-and-up {
        padding-top: 80px;
      }
    }

    &-title {
      position: relative;
      padding: 0 20px;
      text-align: center;
      text-transform: uppercase;
      //strokes
      @include for-tablet-portrait-and-up {
        &:before,
        &:after {
          height: 2px;
          width: 0;
          margin-bottom: 8px;
          background-color: $color-cp-blue-light;
          content: "\A";
          display: inline-block;
        }
        &:before {
          margin-right: 20px;
        }
        &:after {
          margin-left: 20px;
        }
      }
      @include for-tablet-landscape-and-up {
        &:before,
        &:after {
          width: 17%;
        }
      }
      & > span {
        padding: 5px 20px;
        border: $color-cp-yellow-dark 1px solid;
        border-radius: 5px;
        background-color: $color-cp-yellow-light;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  &__modules {
    display: grid;
    grid-gap: 1.5vw;
    clear: both;
    margin: 50px 0;
    @include for-phone {
      grid-template-columns: repeat(auto-fit, minmax(20vw, 25vw));
      margin-top: 20px;
    }
    @include for-tablet-portrait-and-up {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 20vw));
      margin-top: 25px;
    }
    @include for-tablet-landscape-and-up {
      grid-template-columns: repeat(auto-fit, minmax(11vw, 15vw));
      margin-top: 50px;
    }
    @include for-big-screen-and-up {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 12vw));
    }
  }
}
