@import "../ui/variables.scss";
@import "../ui/mixins.scss";

.thematic-areas {
  padding: 30px 20px 30px 20px;

  &__single-area {
    &:not(:first-child) {
      padding-top: 80px;
    }

    &-title {
      position: relative;
      padding: 0 20px;
      text-align: center;
      text-transform: uppercase;
      //strokes
      &:before,
      &:after {
        height: 2px;
        width: 15vw;
        margin-bottom: 8px;
        background-color: $color-cp-blue-light;
        content: "\A";
        display: inline-block;
      }
      &:before {
        margin-right: 20px;
      }
      &:after {
        margin-left: 20px;
      }
      & > span {
        padding: 5px 20px;
        border: $color-cp-yellow-dark 1px solid;
        border-radius: 5px;
        background-color: $color-cp-yellow-light;
        font-weight: bold;
        @include for-phone {
          font-size: 12px;
        }
        @include for-tablet-portrait-and-up {
          font-size: 14px;
        }
        @include for-tablet-landscape-and-up {
          font-size: 16px;
        }
        @include for-desctop-and-up {
          font-size: 24px;
        }
        @include for-big-screen-and-up {
          font-size: 1.4vw;
        }
      }
    }
  }

  &__modules {
    display: grid;
    grid-gap: 1.5vw;
    clear: both;
    margin: 50px 0;
    @include for-phone {
      grid-template-columns: repeat(auto-fit, minmax(20vw, 25vw));
    }
    @include for-tablet-portrait-and-up {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 20vw));
    }
    @include for-tablet-landscape-and-up {
      grid-template-columns: repeat(auto-fit, minmax(11vw, 15vw));
    }
    @include for-big-screen-and-up {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 12vw));
    }
  }
}
