@import "../../ui/mixins.scss";

.send-my-list__form-container {
  border-top: 5px double rgb(223, 222, 222);
  margin-top: 40px !important;
  padding-top: 10px;
}
.send-my-list__form-input-label {
  font-size: 0.9em;
}

.form-control {
  font-size: 0.7em;
}

.checkbox-inline {
  font-size: 0.8vw;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.send-my-list__send-button {
  width: 90%;
  font-size: 1em;
}
