@import "../../ui/mixins.scss";

.send-my-list__form-container {
  border-top: 5px double rgb(223, 222, 222);
  margin-top: 40px !important;
  padding-top: 10px;
}
.send-my-list__form-input-label {
  font-size: 0.9em;
  @include for-phone {
    font-size: 1.2em;
  }
}

.form-control {
  font-size: 0.7em;
  @include for-phone {
    height: 2.5em;
    font-size: 1em;
  }
}

.checkbox-inline {
  font-size: 0.6em;
}

.send-my-list__send-button {
  width: 90%;
  font-size: 1em;
  @include for-phone {
    font-size: 1.3em;
  }
}
