@import "../../ui/variables.scss";
@import "../../ui/mixins.scss";

.order-list,
.order-list--opened {
  position: fixed;
  top: 3em;
  right: 0;
  height: 90vh;
  width: 30vw;
  padding: 1vw 1vw 2vw 1vw;
  border: 0.1vw double $color-cp-chosen;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-background-primary;
  &__close-icon {
    display: none;
  }
  @include for-phone {
    width: 100vw;
    height: 100vh;
    padding: 5vw 10vw;
    top: 0;
    z-index: 500;
    transform: translateX(100%);
    transition: all 0.6s linear 0s;
    &__close-icon {
      display: inline-block;
      width: 4em;
      height: 4em;
      fill: $color-cp-yellow;
      float: right;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $color-cp-blue-light;
    font-size: 1.6em;
  }

  &__add-first-module-info {
    font-size: 0.8em !important;

    &::before {
      @include bullet($color-cp-blue, 0.5em);
      content: "\A";
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__single-day-close-day-button {
    width: 90%;
    font-size: 1em;
  }
}

@include for-phone {
  .order-list--opened {
    transform: translateX(0);
  }
}
