@import "../../ui/variables.scss";
@import "../../ui/mixins.scss";

.order-list {
  position: fixed;
  top: 77px;
  right: 0;
  height: 90vh;
  width: 30vw;
  padding: 0 1vw 2vw 1vw;
  border: 0.1vw double $color-cp-chosen;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-background-primary;
  //Form has more width on mobile
  @include for-phone {
    width: 40vw;
  }

  &__header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $color-cp-blue-light;
    font-size: 1.6em;
  }

  &__add-first-module-info {
    font-size: 0.8em !important;

    &::before {
      @include bullet($color-cp-blue, 0.5em);
      content: "\A";
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__single-day-close-day-button {
    width: 90%;
    font-size: 1em;
  }
}
