@import "../../ui/variables.scss";
@import "../../ui/mixins.scss";

$size: 32px;

.single-module {
  &__details-button {
    border: none;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -7px;
    right: 32px;
    z-index: 1;
    background: #fff;
    transform: scale(1);
    transition: transform $duration $timing;
    border-radius: 50%;
    cursor: pointer;

    box-shadow: $box-shadow;
    &:active,
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
  &__icon {
    width: 100%;
    height: 100%;
    &--details {
      fill: $color-cp-blue;
    }
  }
  &__details-modal {
    position: fixed;
    top: 20%;
    left: 10%;
    min-width: 80%;
    z-index: 511;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 2em;
    padding-top: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    & h2 {
      display: flex;
      justify-content: center;
      font-size: 2em;
      padding-bottom: 0.5em;
      border-bottom: solid 1px $color-cp-blue-light;
      margin-bottom: 1em;
    }
    &-single-detail {
      list-style: none;
      font-size: 1.3em;
      padding-bottom: 0.2em;
      padding-left: 1em;
      &::before {
        @include bullet($color-cp-yellow, 0.5em);
        content: "\A";
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

@include for-phone {
  .single-module {
    &__details-modal {
      top: 15%;
      left: 0;
      width: 100vw;
    }
  }
}
