@import "../ui/variables.scss";
@import "../ui/mixins.scss";

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2;
  background-color: $color-background-primary;
  color: black;
  box-shadow: 0 2px 1px 0px rgb(235, 235, 235);

  @include for-phone {
    font-size: 14px;
  }
  @include for-desctop-and-up {
    font-size: 18px;
  }

  &__logo-wrapper {
    width: 120px;
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 100%;
    //hide logo on mobile
    @include for-phone {
      display: none;
    }
    @include for-tablet-landscape-and-up {
      display: block;
    }
  }

  &__thematic-areas-wrapper {
    display: flex;
    flex: 1;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__single-thematic-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0.6em 1em;
    border-top: none;
    border-bottom: none;
    min-height: 77px;
    background-color: $color-background-primary;
    a {
      text-decoration: none;
      color: #393e41;
      &:hover,
      &:focus,
      &:active,
      &:visited,
      &.active {
        cursor: pointer;
        text-decoration: none;
        &:before {
          transition: transform 0.2s ease;
          transform: scale(1, 1);
          background: $color-cp-yellow;
        }
      }
      &.active {
        &:before {
          background: $color-cp-blue;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        height: 4px;
      }
    }
    & > a:focus {
      outline: none;
    }
  }
}
